.Show{
    background-color: rgba(219, 212, 212, 0.9);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.Hide{
    display: none;
}

.titulo{
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.closeCart{
    width: 40px;
    height: 40px;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: bolder;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: transparent;

}